<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<html>
<head>
	<title>
		svnrepos Revision: $svnRevision
	</title>
	<style type="text/css">
		$css
	</style>
</head>
<body>
	<div id="msg">
		<table id="hdr">
			<tr><td class="cellDesc">Revision</td><td>$svnRevision</td></tr>
			<tr><td class="cellDesc">Author</td><td>$svnAuthor ($svnAuthorRealName)</td></tr>
			<tr><td class="cellDesc">Date</td><td>$svnDate</td></tr>
		</table>
		<h3>Log Message</h3>
		<div class="message">
			$svnLog
		</div>
		$svnAddedHtml
		$svnModifiedHtml
		$svnDeletedHtml
	</div>
	<div id="patch">
		<h3>Diff</h3>
		$svnDiff
	</div>
</body>
</html>